@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hypersonic</h1>
    @foreach (Card card in ViewBag.cards)
    {
        <img src="@card.ImageUri" />
        <p font-style: italic;>@card.Name by @card.Artist</p>
    }
</div>
